@keyframes blink {
    0% {opacity: 0%}
    25% {opacity: 1;}
    75% {opacity: 1;}
    100% {opacity: 0;}
}

body{
    padding: 0;
    margin: 0;
    background-color: rgb(36, 36, 36);
    font-family: 'Bellota Text', cursive;
}

#App {
    display: flex;

}

#leftSide{
    display: flex;
    flex-direction: column;
}

#headerArrow{
    z-index: 400;
    padding-left: 2.5vw;
    padding-top: 7vh;
    position: absolute
}

#dropdownOpen {
    height: 5vw;
    cursor: pointer;
    z-index: 500;
}

#dropdownClosed {
    height: 5vw;
    animation-name: blink;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    cursor: pointer;
    z-index: 500;
}

#contentWrapper{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100vw;
    height: 100vh;
    position: absolute
}

/* Formatting for the Content */

#formatWrapper {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: space-between;
    flex-direction: column;
    color: white;
}

#formatContainer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* Header Section */

#headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding-top: 2.5vw;
    padding-left: 3.6vw;
}

#headerText {
    display: flex;
    color: white;
    font-size: 6vw;
    position: absolute;
    margin-left: 3.6vw;
}

@keyframes drawLineHome {
    0% {
        margin-left: 2vw;
        padding-right: 0vw;
    }
    100% {
        margin-left: 4.15vw;
        padding-right: 29vw;
    }
}

#drawnLine {
    height: .5vw;
    width: 3.7vw;
    background-color: white;
    margin-top: 6.5vw;
}

#drawnLineOpenHome {
    height: .5vw;
    width: 3.7vw;
    background-color: white;
    margin-top: 6.5vw;
    animation-name: drawLineHome;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

/* Sidebar page */

#sidebarWrapper{
    display: flex;
    align-items: center;
    height: 100vh;
    width: 10vw;
    background-color: rgb(73, 73, 73);
    box-shadow: 1px 0px 10px 1px white;
    z-index: 300;
    position: absolute;
}

.sidebarContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
    width: 10vw;
    align-items: center;
    color: #e7e7e7;
    font-size: 1.8vw;
}

.options {
    color: white;
    text-decoration: none;
    transition: .25s all ease;
}

.options:hover {
    text-shadow: 0px 0px 30px;
    transition: .25s all ease;
}

/* Home Page */

#homeTitle {
    font-size: 3vw;
    height: 90%;
}

.quoteText{
    font-size: 2vw;
    margin-bottom: 1.3vw;
    margin-right: 7vw;
}


.lineTwo{
    margin-left: 6vw;
    margin-top: 18px;
    margin-bottom: 18px;
}

.lineThree{
    margin-left: 20vw;
}

/* About Me Page */

#aboutContent{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 83vw;
    height: 100vh;
    margin-bottom: 1vw;
    margin-right: 1vw;
}

#aboutText{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45vw;
    height: 83vh;
    overflow: scroll;
    margin-right: 2vw;
}

#aboutTitle{
    font-size: 4vw;
}

#aboutSubTitle{
    margin-top: 1vw;
    margin-bottom: 1vw;
    font-size: 2.3vw;
    align-self: flex-start;
}

#aboutWriting{
    font-size: 1.7vw;
    align-self: flex-start
}

#aboutPhoto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 70vh;
    background-color: rgb(206, 206, 206);
    margin-right: 5vw;
}

/* Work Page */

#workContent{
    display: flex;
    width: 87vw;
    height: 92%;
    margin-bottom: 1vw;
    margin-right: 1vw;
    padding-top: 1vw;
}

#languages {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 17vw;
}

#workText {
    font-size: 1.3vw;
}

#workSubTitle {
    font-size: 2.3vw;
    text-decoration: underline white;
}

#workExamples {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow: scroll;
}

#workProjects {
    display: flex;
    justify-content: space-evenly;
}

#projectText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45vw;
}

.picture {
    max-width: 18vw;
    margin: 1vw;
    transition: .5s ease all;
}

/* Hobbies Page */

#hobbiesContent{
    display: flex;
    justify-content: space-evenly;
    width: 87vw;
    height: 92%;
    margin-bottom: 1vw;
    margin-right: 1vw;
    padding-top: 1vw;
}

#hobbiesLeftSide {
    margin-top: 5vw;
    width: 38vw;
    padding-bottom: 3vw;
}

#hobbiesRightSide {
    width: 38vw;
    border: 1px white solid;
}

#hobbiesSubTitle {
    font-size: 2.3vw;
    text-decoration: underline white;
}

.hobbieList {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

#hobbieText {
    font-size: 1.7vw;
}


/* contact page */

#genericID{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 2vw;
}