#headerWrapper{
    display: flex;
    padding: 20px;
    z-index: 500;
    position: absolute;
    padding-left: 2.6vw;
    width: 100vw;
}

#headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 100vw;

}

#headerHome {
    color: #e7e7e7;
    font-size: 1.8vw;
}

#headerText {
    display: flex;
    width: 100vw;
    color: white;
    font-size: 6vw;
}

#dropdown {
    height: 5vw;
    width: 5vw;
}