#aboutWrapper{
    display: flex;
    justify-content: flex-end;
    color: white;
    
}

#aboutContainer{
    display: flex;
    justify-content: flex-end;
    width: 80vw;
    border: 1px white solid;
}